body {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #efefef;
}

#addButton,
#searchPhraseButton,
#selectAddID,
#selectSearchID {
  margin-top: 1%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#selectSearchID {
  width: 50%;
}

#selectAddID {
  font-size: 12px;
}
